{% load static %}
<html lang="">
<head>
    <title>blog page</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
<header>
    blog sender
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</header>
<header>
    <a href="{% url 'home' %}">home</a>
</header>
<div>
    {% block content %}
        {% for post in object_list %}
            <div class="Post">
                <h1><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.body }}</p>
            </div>


        {% endfor %}
    {% endblock content %}
</div>

</body>
</html>


